<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='img/expenselogo.png') }}" alt="Expenses Management Logo" height="60">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'home' %}active{% endif %}" href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'add_item' %}active{% endif %}" href="{{ url_for('add_item') }}">Add Item</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('manage_categories') }}">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'report' %}active{% endif %}" href="{{ url_for('report') }}">Report</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'profile' %}active{% endif %}" href="{{ url_for('profile') }}">Profile</a>
                </li>
            </ul>
            <span class="navbar-text me-3">
                Welcome, User
            </span>
            <a href="{{ url_for('login') }}" class="btn btn-outline-primary">Logout</a>
        </div>
    </div>
</nav>